<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango Says...</h1>
        hello world! <br />
        {% if categories %}
            <strong>Categories</strong><br/>
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="category/{{ category.url }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
             <strong>There's no categories</strong><br/>
        {% endif %}
        <a href="add_category/">Add new Category</a>
        {% if pages %}
            <strong>Most viewed pages.</strong><br/>
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="about/">About</a><br/>
        <img src="{% static 'rango/img/rango.jpg' %}" alt="picture of Rango" />
    </body>
</html>