{% extends "rango/base.html" %}

{% block title %}Rango Says...{% endblock  %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}
    {% if categories %}
        <strong>Categories</strong><br/>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="category/{{ category.url }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
            <strong>There's no categories</strong><br/>
    {% endif %}
    {% if pages %}
        <strong>Most viewed pages.</strong><br/>
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}